.fome-parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e9f1ee;
  width: 690px;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 60px;
  padding: 80px 0;
  /* height: 400px; */
}
.signUp {
    width: 590px;
}
.edit {
  width: 600px;
}
.title {
    margin-top: 8px;
    text-align: center;
    text-transform: capitalize;
    color: #0c2b0c;
}
input[type=text],input[type="email"],input[type="password"],input[ type="phone"] {
    padding: 16px 20px;
    margin: 12px 0;
    box-sizing: border-box;
    width: 100%;
    outline: none;
}

button {
    background-color: #255342;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    text-transform: capitalize;
    font-size: 16px;
  }
  
  button:hover {
    opacity: 0.8;
  }
  .edit-form {
    width: 600px;
    display: flex;
    justify-content: center;
  }

.fome-parent-resume {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding: 30px;
  /* height: 90vh; */
}
span {
  margin-right: 8px;
  font-weight: bold;
  font-size: 16px;
}
.fome-parent-resume p {
  text-transform: capitalize;
  font-size: 18px;
}

.bg-resume1 {
  background-color: red;
}
.bg-resume1 span {
  font-family: 'Courier New', Courier, monospace;
  color: rgb(253, 242, 242);
  font-size: 18px;
  font-weight: 400;
}
.bg-resume1 p {
  font-family: 'Courier New', Courier, monospace;
  color: rgb(253, 242, 242);
  font-size: 18px;
  font-weight: 400;
}
.bg-resume2 {
  background-color: pink;
}
.bg-resumedefault {
  background-color: yellow;
}
.color-btn {
 display: flex;
 justify-content: flex-end;
}
.color-bt {
  width: 60px;
  margin-right: 30px;
  border-radius: 2px;
}
.color-btn p {
  cursor: pointer;
}
#content {
  width: 595px;
  height: 842px;
}

.downloud-btn {
  height: 45px;
  width: 112px;
}